@import url("./components/reset.css");
@import url("./components/top-section.css");
@import url("./components/background.css");
@import url("./components/cards-section.css");
@import url("./components/mobile.css");

body {
  font-family: "Inter", sans-serif;
  background: var(--White, #fff);
}

/* SHARED STYLES */
.container {
  /* width: 90%;
  margin: 0 auto; */
  padding-inline: 32px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.supporting-text {
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
}

.heading {
  font-style: normal;
  font-weight: 600;
}

.text {
  font-style: normal;
  font-weight: 500;
}
