* {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.f9-top h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #18181B;
}
.f9-top p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #52525B;
    text-align: center;
}
.f9-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f9-bottom .f9-col {
    display: flex;
    border-bottom: 1px solid #E4E4E7;
    width: 80%;
    margin-top: 50px;
}
.f9-bottom .f9-col .side-l {
    border-right: 1px solid #E4E4E7;
}
.f9-bottom .f9-col .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.f9-bottom .f9-col .card h5 {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #18181B;
}
.f9-bottom .f9-col .card p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #52525B;
}
.f9-bottom .f9-col2 {
    display: flex;
    width: 80%;
}
.f9-bottom .f9-col2 .side-l {
    border-right: 1px solid #E4E4E7;
}
.f9-bottom .f9-col2 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.f9-bottom .f9-col2 .card h5 {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #18181B;
}
.f9-bottom .f9-col2 .card p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #52525B;
}

@media only screen and (max-width: 465px) {
    .f9-top h2 {
        font-size: 32px;
    }
    .f9-top p {
        font-size: 16px;
    }
    .f9-bottom .f9-col .card h5,
    .f9-bottom .f9-col2 .card h5 {
        font-size: 25px;
    }
    .f9-bottom .f9-col .card p,
    .f9-bottom .f9-col2 .card p {
        font-size: 16px;
    }
    .f9-bottom .f9-col,
    .f9-bottom .f9-col2 {
        flex-wrap: wrap;
        border-bottom: none;
    }
    .f9-bottom .f9-col .side-l, 
    .f9-bottom .f9-col2 .side-l {
        border-right: none;
    }
    .f9-bottom .f9-col, 
    .f9-bottom .f9-col2 {
        width: 90%;
    }
    .f9-bottom .f9-col .card,
    .f9-bottom .f9-col2 .card {
        border-bottom: 1px solid #E4E4E7;
        padding: 55px;
    }
}

@media only screen and (max-width: 834px) {
    .f9-top h2 {
        font-size: 40px;
    }
    .f9-top p {
        font-size: 18px;
    }
    .f9-bottom .f9-col,
    .f9-bottom .f9-col2 {
        flex-wrap: wrap;
        border-bottom: none;
    }
    .f9-bottom .f9-col .side-l, 
    .f9-bottom .f9-col2 .side-l {
        border-right: none;
    }
    .f9-bottom .f9-col, 
    .f9-bottom .f9-col2 {
        width: 90%;
    }
    .f9-bottom .f9-col .card,
    .f9-bottom .f9-col2 .card {
        border-bottom: 1px solid #E4E4E7;
        padding: 35px;
    }
}